{% extends "base.html" %}
{% block title %}My amazing blog{% endblock %}
{% block content %}
{% for new in news %}
    {{ new.title }}<br>
    {{ new.pub_date }}<br>
    {{ new.description }}<br>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if news.has_previous %}
            <a href="?page={{ news.previous_page_number }}">Предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ news.number }} из {{ news.paginator.num_pages }}.
        </span>

        {% if news.has_next %}
            <a href="?page={{ news.next_page_number }}">Следующая</a>
        {% endif %}
    </span>
</div>
{% endblock %}