<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	{% load staticfiles %}
	<title>{% block title %}My amazing site{% endblock %}</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" media="all" />
</head>
<body>
<div class="shell">
	<div class="border">
		<div id="navigation">
			<ul>
				<li><a href='/flat/'>FlatPage</a></li>
				<li><a href='/app/'>Главная</a></li>
				<li><a href='/app/news'>Новости</a></li>
				<li><a href='/app/presentations'>Выступления</a></li>
				<li><a href='/app/partners'>Партнеры</a></li>
				<li><a href='/app/speakers'>Спикеры</a></li>
				<li><a href='/app/organisators'>Организаторы</a></li>
				<li><a href='/app/contacts'>Контакты</a></li>
			</ul>
			<div class="cl">&nbsp;</div>
		</div>
		
		<div id="main">
			<br>
			{% block content %}{% endblock %}
		</div>
		
		<div class="shadow-l"></div>
		<div class="shadow-r"></div>
		<div class="shadow-b"></div>
	</div>
	
	<div id="footer">
		<div class="footer-nav left">
			<ul>
				<li><a href='/flat/'>FlatPage</a></li>
				<li><a href='/app/'>Главная</a></li>
				<li><a href='/app/news'>Новости</a></li>
				<li><a href='/app/presentations'>Выступления</a></li>
				<li><a href='/app/partners'>Партнеры</a></li>
				<li><a href='/app/speakers'>Спикеры</a></li>
				<li><a href='/app/organisators'>Организаторы</a></li>
				<li><a href='/app/contacts'>Контакты</a></li>
			</ul>
		</div>
		<p class="copy right">Copyright Anastasia Nikonorova</p>
		<div class="cl">&nbsp;</div>
	</div>
</div>
</body>
</html>