{% extends "base.html" %}
{% block title %}My amazing blog{% endblock %}
{% block content %}
<a href='/app/partners/add'>New_partner</a><br>
<a href='/app/partners/'>all</a>
{% for partners_item in partners %}
	{% if partners_item.bool %}
 		{% include 'partners/partners_item.html' %}
 	{% endif %}
{% endfor %}
{% endblock %}