{% extends "base.html" %}
{% block title %}My amazing blog{% endblock %}
{% block content %}
<a href='/app/partners/add'>New_partner</a><br>
<a href='/app/partners/filter'>filter</a>
{% for partners_item in partners %}
 {% include 'partners/partners_item.html' %}
{% endfor %}
{% endblock %}