<h2>{{ partners_item.name }}</h2>
 <img width=120px src='{{ partners_item.image.url }}'><br>
 <p>{{ partners_item.description }}</p>
 {% if partners_item.bool %}<p>Опубликован</p>{% endif %}
  <a href="{% url 'partners_edit' partners_item.id %}">Изменить</a>
 <a href="{% url 'partners_del' partners_item.id %}">Удалить</a>